@-ms-viewport{
    width: device-width;
}
body{
    background-color: rgb(29, 63, 90);
    color: white;
    
}
header{
    font-size: 64px;
    text-align: center;
}
ul{
    font-size: 20px;
}
h2{
    text-align: center;
}
p{
    font-size: 18px;
}